<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommendation.mapper.BehaviorMapper">

<!--    新增浏览记录-->
    <insert id="browseProduct">
        INSERT INTO user_behavior (
            userId,
            productId,
            behaviorTypeId,
            behaviorTime,
            isDelete
        ) VALUES (
                     #{userId},
                     #{productId},
                     #{behaviorTypeId},
                     #{behaviorTime},
                     #{isDelete}
                 )
    </insert>

    <select id="searchCollectCount" resultType="int">
        SELECT COUNT(*)
        FROM user_behavior
        WHERE userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
    </select>

    <insert id="insertCollect">
        INSERT INTO user_behavior
            (userId, productId, behaviorTypeId, behaviorTime, isDelete)
        VALUES
            (#{userId}, #{productId}, #{behaviorTypeId}, #{behaviorTime}, #{isDelete})
    </insert>

    <update id="updateCollect">
        UPDATE user_behavior
        SET
            behaviorTime = #{behaviorTime},
            isDelete = #{isDelete}
        WHERE
            userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
    </update>

    <select id="searchCollect" resultType="com.example.recommendation.entity.UserBehavior">
        SELECT *
        FROM user_behavior
        WHERE userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
            LIMIT 1
    </select>

    <insert id="addCart">
        INSERT INTO cart
            (userId, productId, count)
        VALUES
            (#{userId}, #{productId},#{count})
    </insert>

    <insert id="addCartBehavior">
        INSERT INTO user_behavior
            (userId, productId, behaviorTypeId, behaviorTime, isDelete)
        VALUES
            (#{userId}, #{productId}, #{behaviorTypeId}, #{behaviorTime}, #{isDelete})
    </insert>

    <select id="getAllCartProduct" resultType="com.example.recommendation.entity.CartProduct">
        SELECT
            p.*,
            c.count AS cartCount
        FROM
            cart c
                INNER JOIN
            product p ON c.productId = p.productId
        WHERE
            c.userId = #{userId}
    </select>

    <select id="searchCartProduct" resultType="int">
        SELECT COUNT(*)
        FROM cart
        WHERE userId = #{userId}
          AND productId = #{productId}
    </select>

    <select id="searchCartBehavior" resultType="int">
        SELECT COUNT(*)
        FROM user_behavior
        WHERE userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
    </select>

    <update id="addCartProductCount">
        UPDATE cart
        SET count = count + #{count}
        WHERE userId = #{userId}
          AND productId = #{productId}
    </update>

    <update id="updateCartBehavior">
        UPDATE user_behavior
        SET behaviorTime = #{behaviorTime},
            isDelete = #{isDelete}
        WHERE userId = #{userId}
          AND productId = #{productId}
    </update>

    <update id="changeCartProductCount">
        UPDATE cart
        SET count = #{count}
        WHERE userId = #{userId}
          AND productId = #{productId}
    </update>
</mapper>
