<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommendation.mapper.BehaviorMapper">

<!--    新增浏览记录-->
    <insert id="browseProduct">
        INSERT INTO user_behavior (
            userId,
            productId,
            behaviorTypeId,
            behaviorTime,
            isDelete
        ) VALUES (
                     #{userId},
                     #{productId},
                     #{behaviorTypeId},
                     #{behaviorTime},
                     #{isDelete}
                 )
    </insert>

    <select id="searchCollectCount" resultType="int">
        SELECT COUNT(*)
        FROM user_behavior
        WHERE userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
    </select>

    <insert id="insertCollect">
        INSERT INTO user_behavior
            (userId, productId, behaviorTypeId, behaviorTime, isDelete)
        VALUES
            (#{userId}, #{productId}, #{behaviorTypeId}, #{behaviorTime}, #{isDelete})
    </insert>

    <update id="updateCollect">
        UPDATE user_behavior
        SET
            behaviorTime = #{behaviorTime},
            isDelete = #{isDelete}
        WHERE
            userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
    </update>

    <select id="searchCollect" resultType="com.example.recommendation.entity.UserBehavior">
        SELECT *
        FROM user_behavior
        WHERE userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
            LIMIT 1
    </select>

    <insert id="addCart">
        INSERT INTO cart
            (userId, productId, count)
        VALUES
            (#{userId}, #{productId},#{count})
    </insert>

    <insert id="addCartBehavior">
        INSERT INTO user_behavior
            (userId, productId, behaviorTypeId, behaviorTime, isDelete)
        VALUES
            (#{userId}, #{productId}, #{behaviorTypeId}, #{behaviorTime}, #{isDelete})
    </insert>

    <select id="getAllCartProduct" resultType="com.example.recommendation.entity.CartProduct">
        SELECT
            p.*,
            c.count AS cartCount
        FROM
            cart c
                INNER JOIN
            product p ON c.productId = p.productId
        WHERE
            c.userId = #{userId}
    </select>

    <select id="searchCartProduct" resultType="int">
        SELECT COUNT(*)
        FROM cart
        WHERE userId = #{userId}
          AND productId = #{productId}
    </select>

    <select id="searchCartBehavior" resultType="int">
        SELECT COUNT(*)
        FROM user_behavior
        WHERE userId = #{userId}
          AND productId = #{productId}
          AND behaviorTypeId = #{behaviorTypeId}
    </select>

    <update id="addCartProductCount">
        UPDATE cart
        SET count = count + #{count}
        WHERE userId = #{userId}
          AND productId = #{productId}
    </update>

    <update id="updateCartBehavior">
        UPDATE user_behavior
        SET behaviorTime = #{behaviorTime},
            isDelete = #{isDelete}
        WHERE userId = #{userId}
          AND productId = #{productId}
        AND behaviorTypeId = #{behaviorTypeId}
    </update>

    <update id="changeCartProductCount">
        UPDATE cart
        SET count = #{count}
        WHERE userId = #{userId}
          AND productId = #{productId}
    </update>

    <delete id="deleteCartProduct">
        DELETE FROM cart
        WHERE userId = #{userId}
          AND productId = #{productId}
    </delete>

    <update id="updateProductSellCount">
        UPDATE product
        SET sellCount = #{sellCount}
        WHERE productId = #{productId}
    </update>

    <insert id="insertOrder">
        INSERT INTO `order` (
            userId,
            productId,
            count,
            price,
            createTime ,
            isDelete
        )
        VALUES (
                   #{userId},
                   #{productId},
                   #{count},
                   #{price},
                   #{createTime},
                   #{isDelete}
               )
    </insert>

    <select id="selectUserCollectProductIds" resultType="int">
        SELECT productId
        FROM user_behavior
        WHERE
            userId = #{userId}
          AND behaviorTypeId = #{behaviorTypeId}
          AND isDelete = #{isDelete}
        ORDER BY
            behaviorTime DESC
    </select>

    <select id="selectUserOrders" resultType="com.example.recommendation.entity.Order">
        SELECT
            id,
            userId,
            productId,
            count,
            price,
            createTime,
            isDelete
        FROM `order`
        WHERE
            userId = #{userId}
          AND isDelete = #{isDelete}
        ORDER BY
            createTime DESC
    </select>

    <update id="deleteUserOrder">
        UPDATE `order`
        SET isDelete = #{isDelete}
        WHERE id = #{id}
    </update>

    <select id="listUserValidBehaviorsByUserId" resultType="com.example.recommendation.entity.UserBehavior">
        SELECT
            id,
            userId,
            productId,
            behaviorTypeId,
            behaviorTime
        FROM
            user_behavior
        WHERE
            userId = #{userId}
          AND isDelete = 0
        ORDER BY
            behaviorTime DESC
    </select>

    <select id="selectRecentBehaviors" resultType="com.example.recommendation.entity.UserBehavior">
        SELECT *
        FROM user_behavior
        WHERE isDelete = 0
        ORDER BY behaviorTime DESC
            LIMIT #{count}
    </select>

    <select id="selectProductIdsByUserId" resultType="java.lang.Integer">
        SELECT productId
        FROM user_behavior
        WHERE userId = #{userId} AND isDelete = 0 AND behaviorTypeId = 4
        ORDER BY behaviorTime DESC
    </select>

    <select id="selectBehaviorTotalCount" resultType="long">
        SELECT COUNT(*) FROM user_behavior WHERE isDelete = 0
    </select>
</mapper>
