<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommendation.mapper.ProductMapper">

<!--    分页查询商品列表-->
    <select id="getProductByPage" resultType="com.example.recommendation.entity.Product">
        SELECT
        productId,
        productName,
        price,
        fileName,
        categoryId,
        description,
        productSecondCategory,
        sellCount
        FROM product
        ORDER BY productId DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <!--    分类分页查询商品列表-->
    <select id="getProductByCategory" resultType="com.example.recommendation.entity.Product">
        SELECT
            productId,
            productName,
            price,
            fileName,
            categoryId,
            description,
            productSecondCategory,
            sellCount
        FROM product
        WHERE
            categoryId = #{categoryId}
        ORDER BY productId DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getProductInfoById" resultType="com.example.recommendation.entity.Product">
        SELECT
        productId,
        productName,
        price,
        fileName,
        categoryId,
        description,
        productSecondCategory,
        sellCount
        FROM product
        WHERE productId = #{productId}
    </select>

    <select id="selectProductTotalCount" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <select id="selectProductsByIds" resultType="com.example.recommendation.entity.Product">
        SELECT *
        FROM product
        WHERE productId IN
        <foreach collection="projectIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
