<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommendation.mapper.ProductMapper">

<!--    分页查询商品列表-->
    <select id="getProductByPage" resultType="com.example.recommendation.entity.Product">
        SELECT
        productId,
        productName,
        price,
        fileName,
        categoryId,
        description,
        productSecondCategory,
        sellCount
        FROM
        product
        <where>
            <!--
              <if test="..."> 标签内的条件为真时，才会将其内部的 SQL 片段拼接到主语句中。
              test="searchInput != null and searchInput != ''" 确保只有当 searchInput 不为 null 且不为空字符串时，才执行筛选。
              CONCAT('%', #{searchInput}, '%') 用于在搜索词前后加上通配符 %，实现模糊匹配。
              LIKE 用于进行模糊匹配查询。
            -->
            <if test="searchInput != null and searchInput != ''">
                AND description LIKE CONCAT('%', #{searchInput}, '%')
            </if>
        </where>
        ORDER BY
        sellCount DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!--    分类分页查询商品列表-->
    <select id="getProductByCategory" resultType="com.example.recommendation.entity.Product">
        SELECT
            productId,
            productName,
            price,
            fileName,
            categoryId,
            description,
            productSecondCategory,
            sellCount
        FROM product
        WHERE
            categoryId = #{categoryId}
        ORDER BY productId DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getProductInfoById" resultType="com.example.recommendation.entity.Product">
        SELECT
        productId,
        productName,
        price,
        fileName,
        categoryId,
        description,
        productSecondCategory,
        sellCount
        FROM product
        WHERE productId = #{productId}
    </select>

    <select id="selectProductTotalCount" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <select id="selectProductsByIds" resultType="com.example.recommendation.entity.Product">
        SELECT *
        FROM product
        WHERE productId IN
        <foreach collection="projectIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectCategoryCount" resultType="int">
        SELECT COUNT(*) FROM category;
    </select>

    <select id="selectCategoryIdByProductIds" resultType="map">
        SELECT
        productId,
        categoryId
        FROM
        product
        WHERE
        productId IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectAllProducts" resultType="com.example.recommendation.entity.Product">
        SELECT * FROM product;
    </select>
</mapper>
